{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
<meta name="author" content="Softnio">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<!-- Fav Icon  -->
<link rel="shortcut icon" href="images/favicon.png">
<!-- Site Title  -->
<title>Page Register | ICO Crypto - ICO Landing Page &amp; Multi-Purpose Cryptocurrency HTML Template</title>
<!-- Bundle and Base CSS -->
<link rel="stylesheet" href="{% static '/assets/css/vendor.bundle.css' %}">
<link rel="stylesheet" href="{% static '/assets/css/style.css' %}" id="changeTheme">
<!-- Extra CSS -->
<link rel="stylesheet" href="{% static '/assets/css/theme.css' %}">




</head>
   


    <body class="nk-body body-wider bg-light-alt">

	<div class="nk-wrap">
    
        <main class="nk-pages nk-pages-centered bg-theme">
            <div class="ath-container">
                <div class="ath-header text-center">
                    <a href="./" class="ath-logo"><img src="images/logo-full-white.png" srcset="images/logo-full-white2x.png 2x" alt="logo"></a>
                </div>
                <div class="ath-body">
                    <h5 class="ath-heading title">Enter Your Details<small class="tc-default">to Get Your Portfolio</small></h5>
                    <form action="./" method="POST" enctype="multipart/form-data">
                        <div class="field-item">
                            <div class="field-wrap">
                                <input type="text" class="input-bordered" placeholder="Your Name" name="name">
                            </div>
                        </div>
                        <div class="field-item">
                            <div class="field-wrap">
                                <input type="number" class="input-bordered" placeholder="age" name="age">
                            </div>
                        </div>
                        <!-- <div class="field-item">
                            <div class="field-wrap">
                                <input type="number" class="input-bordered" placeholder="Salary">
                            </div>
                        </div> -->
                        <div class="field-item">
                          <div class="field-wrap">
                              <input type="text" class="input-bordered" placeholder="Investment Amount" name="invamt">
                          </div>
                        </div>
                        <!-- <div class="field-item">
                          <div class="field-wrap">
                              <input type="number" class="input-bordered" placeholder="Expenses">
                          </div>
                        </div> -->
                        <div class="field-item">
                          <div class="field-wrap">
                              <input type="number" class="input-bordered" placeholder="Investment period (Years)">
                          </div>
                        </div>
                        <div class="field-item">
                          <div class="field-wrap">
                                <select name="intvperiods" id="" class="input-bordered">
                                    <option>====Select Investment Period====</option>
                                    <option>6 Month</option>
                                    <option>1 Year</option>
                                    <option>1.5 Year</option>
                                    <option>2 Year</option>
                                    <option>2.5 Year</option>

                                </select>
                          </div>
                        </div>
                        <div class="field-item">
                          <div class="field-wrap">
                              <input type="number" class="input-bordered" placeholder="Risk Capacity" name="risk">
                          </div>
                        </div>
                        <div class="field-item">
                          <div class="field-wrap">
                              <input type="number" class="input-bordered" placeholder="Investment Purpose" name="intvpurpose">
                          </div>
                        </div>
                        <button class="btn btn-primary btn-block btn-md">Done</button>
                    </form>

                </div>
            </div>
        </main>
    
	</div>
	<div class="preloader"><span class="spinner spinner-round"></span></div>
	
	<!-- JavaScript -->
	<script src="{% static '/assets/js/jquery.bundle.js' %}"></script>
	<script src="{% static '/assets/js/scripts.js' %}"></script>
	<script src="{% static '/assets/js/charts.js' %}"></script>
</body>
</html>

