{% extends 'app/header.html' %}
{% block content %}			
			<!-- Banner @s -->
			<div class="header-banner bg-theme-alt">
				<div class="nk-banner">
				    <div class="banner banner-inner">
				        <div class="banner-wrap ov-v">
                            <div class="container">
                                <div class="row align-items-center justify-content-center justify-content-lg-between">
                                    <div class="col-lg-6 col-sm-10 col-mb-10 text-center text-lg-left">
                                        <div class="banner-caption cpn tc-light mgt-m70">
                                            <div class="cpn-head">
                                                <h1 class="title">About ICO Wallet</h1>
                                            </div>
                                            <div class="cpn-text cpn-text-s3">
                                                <p>Don’t Late, Download and start now.</p>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div>
                        </div>
				    </div>
				</div><!-- .nk-banner -->
				<div class="nk-ovm mask-d shape-x"></div>
               
                <!-- Place Particle Js -->
		        <!-- <div id="particles-bg" class="particles-container particles-bg"></div> -->
			</div>
			<!-- .header-banner @e -->
		</header>
    
        <main class="nk-pages">
            <section class="section pdt-0 over-up-s2">
                <div class="container">
                    <div class="nk-block">
                        <div class="row justify-content-lg-between justify-content-center align-items-center gutter-vr-30px">
                            <div class="col-lg-6 col-mb-10 order-lg-last">
                                <div class="nk-block-img">
                                    <img src="images/app-screens/sc-large-a2.png" alt="img">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="nk-block-text text-center text-lg-left">
                                    <h2 class="title title-thin title-dark">ICO Crypto Wallet permit <br class="d-lg-none d-xl-block">people to control their wealth</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- // -->
            <section class="section bg-light section-about">
                <div class="container">
					
					<!-- Block @s -->
					<div class="nk-block">
                        <div class="row gutter-vr-30px align-items-center">
                            <div class="col-lg-6">
                                <div class="nk-block-text">
                                    <h2 class="title title-dark title-thin">About ICO Crypto</h2>
                                    <p><strong>ICO Crypto is #1 best selling ICO Landing</strong> page, which helps you lunch and introduce your ICO Website. We designed it very carefully to make it more attractive, useful and fit any kind of ICO/Crypto website. </p>
                                    <p>ICO Crypto sectetur adipiscing elit, sed do eiusmod tempor incididunt uteop labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo consequat.</p>
                                    <p>We create cryptocurrency dipiscing elit, sed do eiusmod tempor incididunt uteop labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo consequat.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="nk-block-video">
                                    <img src="images/video/a.png" alt="video">
                                    <a href="https://www.youtube.com/watch?v=SSo_EIwHSd4" class="nk-block-video-play video-popup btn-play btn-play-light"><em class="fas fa-play"></em></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- .nk-block @e -->
					<div class="hr"></div>
                    <!-- Block @s -->
                    <div class="nk-block nk-block-about">
                        <div class="row gutter-vr-30px align-items-center justify-content-between">
                            <div class="col-md-4 col-lg-3">
                                <div class="nk-block-text">
                                    <h2 class="title title-lg title-dark title-thin">ICO Crypto <br>you can trust</h2>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-8">
                                <div class="nk-block-text">
									<p class="lead">We're build a comprehensive template to help to create ICO Website with ultimate simplicity &amp; easy to use. In ICO Crypto, we believe that, adipiscing elit do eiusmod tempor incididunt uteop labore et dolore magna aliqua. </p>
									<p>Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo consequat. Tempor incididunt uteop labore et dolore magna aliqua. Ut enim ad minim veniam ostrud exercit.</p>
								</div>
                            </div>
                        </div>
					</div><!-- .nk-block @e -->
					<div class="hr"></div>
                    <!-- Block @s -->
                    <div class="nk-block nk-block-about">
                        <div class="row gutter-vr-30px align-items-center justify-content-between">
                            <div class="col-md-4 col-lg-3">
                                <div class="nk-block-text">
                                    <h2 class="title title-lg title-dark title-thin">Our Mission</h2>
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-8">
                                <div class="nk-block-text">
                                    <p class="lead">Our Mission is to create next generation ICO Landing Page template. Ut enim ad minim veniam, nostrud exercit ullamco laboris nisi commodo. Tempor incididunt uteop labore et dolore magna aliqua nostrud exercit.</p>
								</div>
                            </div>
                        </div>
					</div><!-- .nk-block @e -->
					
				</div>
            </section>
            <!-- // -->
            <section class="section ov-h">
                <!-- Block @s -->
                <div class="nk-block nk-block-features">
                    <div class="container">
                        <div class="row align-items-center gutter-vr-30px">
                            <div class="col-lg-5">
                                <div class="nk-block-text">
                                    <h2 class="title title-thin title-dark">Meet Our Best <strong class="text-primary-alt">Features</strong> <br>for Linum Wallet</h2>
                                    <p>We have many more feature that impress you. <br class="d-none d-lg-block">Don’t be late to <a href="#" class="link link-primary link-thin link-underline">download</a> our app.</p>
                                    </div>
                                </div>
                            <div class="col-lg-7">
                                <div class="row align-items-center">
                                    <div class="col-sm-6">
                                        <div class="feature card card-s2 ov-h">
                                            <div class="feature-text">
                                                <h5 class="title title-md">All coin control</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore amet</p>
                                            </div>
                                            <div class="feature-icon feature-icon-bg">
                                                <img src="images/icons/icon-o.png" alt="feature">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="feature card card-s2 ov-h">
                                            <div class="feature-text">
                                                <h5 class="title title-md">Currencies simplified</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore amet </p>
                                            </div>
                                            <div class="feature-icon feature-icon-bg">
                                                <img src="images/icons/icon-p.png" alt="feature">
                                            </div>
                                        </div>
                                        <div class="feature card card-s2 ov-h">
                                            <div class="feature-text">
                                                <h5 class="title title-md">Multiple currency</h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore amet</p>
                                            </div>
                                            <div class="feature-icon feature-icon-bg">
                                                <img src="images/icons/icon-q.png" alt="feature">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .block @e -->
            </section>
            <!-- // -->
            <div class="section pdb-0 ov-h bg-light">
                <!-- .block @s -->
                <div class="nk-block nk-block-download">
                    <div class="container">
                        <div class="row align-items-center gutter-vr-30px justify-content-between">
                            <div class="col-md-5 col-mb-8 m-auto order-last order-md-first">
                                <div class="nk-block-img">
                                    <img src="images/app-screens/sc-large-p.png" alt="app">
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-6">
                                <div class="nk-block-text pb-md-5 text-center text-md-left">
                                    <h2 class="title title-thin title-dark">Don’t late to <strong class="text-primary-alt">Download</strong> <br>Linum Wallet App</h2>
                                    <p>We have many more feature that impress you.</p>
                                    <ul class="btn-grp btn-grp-s2">
                                        <li><a href="#" class="btn-download google-play"><img src="images/google-play.png" alt="img"></a></li>
                                        <li><a href="#" class="btn-download app-store"><img src="images/apps-store.png" alt="img"></a></li>
                                        <li class="qr-code"><img src="images/icon-wallet.png" alt="img">
                                            <span class="qr-list">
                                                <img src="images/qr-apple.png" alt="img">
                                                <img src="images/qr-android.png" alt="img">
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .block @e -->
            </div>
        </main>
    
{% endblock %}		